*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
header, section, footer, aside, nav, article, hgroup{
   
    display: block;
}

body{
    background-color:  #7a7e81   ;
}

.titulo{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
   border: 2px solid black;
   font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #ee9714;
    text-shadow: 1px 1px 2px black, 0 0 25px rgb(2, 2, 27), 0 0 5px rgb(17, 17, 20);
    text-align: center;
}

.encabezado{
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000000;
    text-align: center;
}

#tabla caption{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(12, 9, 9);
    font-size: 25px;
}

#tabla td, #tabla th {
    border: 2px solid rgb(252, 252, 252);
    padding: 25px;
    
  }

  #tabla th {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align:center;
    background-color: #d9f010;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(40, 17, 250);
    width: 90%;
  }
  
  #tabla tr{
     
      background-color: rgb(231, 163, 17);
      font-size: 20px;
      font-family: Arial, Helvetica, sans-serif;
      
  }
  
  #tabla tr:hover {background-color: rgb(241, 234, 234);}
  
  footer{
    clear: both;
    padding: 10px;
    background-color: rgba(10, 20, 66, 0.87);
    text-align: left;
    font-family: Georgia, serif;
    font-size: 14px;
    color: white;

}

